#Home_con{
    display: flex;
    flex-direction: column;
    align-items: center;
  
   height: 1024px;
   width: 100%;
}
#nav_bar{
    display: flex;
    position: fixed;
    height: 10vh;
    width: 100%;
    border: 2px solid white;
    border-radius: 32px;
    
    

}
#head_home_bar{
    align-self: center;
   
    background:none;
    font-family:Italianno;
    margin-left: 10%;

}
#nav_links{
    display: flex;
    list-style-type: none;
    align-items: center;
    gap: 2vw;
   
    flex-wrap: nowrap;
    background: none;
    margin-left: 32%;
     
}
#nav_links a{
    color: white;
    text-decoration: none;
    font-size: 24px;
    
   
}
#home_content{
  
    display: grid;
    grid-template-columns: 1fr 1fr;
 
    place-items: center;
    gap: 0rem;
    background: none;
   margin-top: 5rem;

}
h2{
    background: none;
}
p{
    background: none;
    margin-left: 1rem;


}
.home_items{
font-family: serif;
background: none;
margin-left: 1rem;;
    
}
#header_main{
    font-size: 70px;
}
#himg{
    height: 45rem;
    width: auto;
}
#nav_options{
    display: none;
}
#nav_option{
    display: none;
}



@media screen and (max-width: 1349px) {
    #himg{
        height: 35rem;
        width: auto;
    }
    #nav_bar{
        height: 6vh;
        margin: 1rem;
    }
    #header_main{
        background: none;
       

}
#header_main p{
    background: none;;

}}
@media screen and (max-width: 960px) {
    #nav_option{
        display: block;
    }
    #nav_options{
        display: block;
    }
    #h_btn{
        width: 2rem;
        height: auto;
        margin-top: .5rem;
        margin-left: 15vw;

    }
    #nav_links a{
      display:none;
    }
    #options{
        display: none;
        position:absolute;
        width: 100%;
        height: 100vh;
       margin-top: 3rem;
        top: 0;
        
        background-color: rgba(54, 45, 45, 0.5);
        border-radius: 3rem;
    }
    #himg{
        display: none;
    }
  

    #nav_bar{
        display: flex;
        position: fixed;
        justify-content: center;
        align-items: center;
        height: 2vh;
        width: 90%;
        border: none;
        padding: 1rem;
        border: 1px solid white;
        border-radius: 2rem;
        
       
      
       

        
        
    
    }
    #head_home_bar{
        font-size: 20px;
       margin-left: 1px;
    }
    #header_main{
        font-size: 40px;
       
        grid-template-columns: 1fr;
        place-items: center;
    }
    #home_content{
       height: 90vh;
       background-image: url('../../img/hpic.jpg');
        background-repeat: no-repeat;
        background-size: cover;  

    }
    #nav_option{
        display: flex;
        flex-direction: column;
        font-size: 2rem;
        text-decoration: none;
        list-style: none;
       
        justify-content: center;
        align-items: center;
        gap: 2rem;
        
        height: 100%;
        width: 100%;
        
       
 background-color: rgba(54, 45, 45, 0.5);
    }
  #nav_option a{
    text-decoration: none;
    background: none;
   
   margin-bottom: 2rem;
   
   
   
  }
}